section.company {
    padding: 5rem 1rem;
    margin-bottom: 5rem;

    display: flex;
    flex-flow: column nowrap;

    h2 {
        font-family: "KotoriRose", sans-serif;
        text-align: center;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }
}
